[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"
mypy = "*"
bandit = "*"
pyupgrade = "*"

[packages]
ipython = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
